@model IEnumerable<Vidly.Models.Movies>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@if (!Model.Any())
{
    <p>We don't have any Movies yet.</p>
}
else
{
    <table class="table table-­bordered table‐hover">
        <caption>Movies Data</caption>
        <thead>
            <tr>
                <th>Id</th>
                <th>Customer</th>
                <th>Customer2</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr class="active">
                    <td>@movie.id </td>
                    <td>@Html.ActionLink(movie.Name, "Details/" + @movie.id) </td>
                    <td>@Html.ActionLink(movie.Name, "Details", "Movies", new { custId = movie.id }, null)</td>

                    @*, "Customers", new { custId = @item.customerId },null)*@
                </tr>
            }

        </tbody>

    </table>
}

