@model IEnumerable<Vidly.Models.Movies>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@if (!Model.Any())
{
    <p>We don't have any Movies yet.</p>
}
else
{
    @Html.ActionLink("New Movie", "new", "Movies", null, new { @class = "btn btn-primary" });
    <table class="table table-­bordered table‐hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>View Movie</th>
                <th>Edit Movie</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr class="active">
                    <td>@movie.id </td>
                    <td>@Html.ActionLink(movie.Name, "Details/" + @movie.id) </td>
                    <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.id }, null)</td>
                </tr>
            }

        </tbody>

    </table>
}

